.navbar {
  position: fixed;       
  top: 0;               
  left: 0;              
  width: 95%;           
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1a1a1a, #2a2a2a);
  padding: 15px 40px;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 1000;
  font-size: small;        

.navbar-logo {
  font-weight: bold;
  font-size: 18px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #bbb;
}


body {
  margin: 0;
  padding-top: 70px;  
}
}